{% extends "base/base.html" %}
{% block title %}
    <title>Profile {{ profile.user.username }}</title>
{% endblock %}
{% block content %}
    <div class="container mx-auto mb-8 mt-8">
        <div class="overflow-x-auto">
            <h1 class="text-2xl text-center bg-gray-800  text-gray-100 mt-8 pt-4 p-4 font-bold ">Profile
                Information</h1>
            <table class="table-auto w-full rounded-lg border border-gray-300">
                <tbody>
                <tr class="bg-gray-200 font-bold text-red-700">
                    <td class="px-4 py-2 text-center">Username</td>
                    <td class="px-4 py-2 text-center">Email</td>
                    <td class="px-4 py-2 text-center">Phone Number</td>
                    <td class="px-4 py-2 text-center">Name</td>
                    <td class="px-4 py-2 text-center">Last Name</td>
                    <td class="px-4 py-2 text-center">Gender</td>
                    <td class="px-4 py-2 text-center">Age</td>
                </tr>
                <tr class="bg-white text-gray-800">
                    <td class="px-4 py-2 text-center">{{ profile.user.username }}</td>
                    <td class="px-4 py-2 text-center">{{ profile.user.email }}</td>
                    <td class="px-4 py-2 text-center">{{ profile.user.phone_number }}</td>
                    <td class="px-4 py-2 text-center">{{ profile.name }}</td>
                    <td class="px-4 py-2 text-center">{{ profile.last_name }}</td>
                    <td class="px-4 py-2 text-center">{{ profile.gender }}</td>
                    <td class="px-4 py-2 text-center">{{ profile.age }}</td>
                </tr>
                </tbody>
            </table>
            {% if orders %}
                {% for order in orders %}
                    <h1 class="text-2xl text-center bg-gray-800  text-gray-100 mt-8 pt-4 p-4 font-bold ">Order
                        Shipped</h1>
                    <table class="table-auto w-full rounded-lg border border-gray-300">
                    <tbody>
                    <tr class="bg-gray-200 font-bold text-red-700">
                        {% if name_product_in_order %}
                            <th class="px-4 py-2 text-center">Order Items</th>{% endif %}
                        {% if order.address %}
                            <th class="px-4 py-2 text-center">Address</th>{% endif %}
                        {% if order.status %}
                            <th class="px-4 py-2 text-center">Status</th>{% endif %}
                        {% if  order.transaction_id %}
                            <th class="px-4 py-2 text-center">Transaction ID</th>{% endif %}
                        {% if order.payment_method %}
                            <th class="px-4 py-2 text-center">Payment Method</th>{% endif %}
                        {% if order.code_discount %}
                            <th class="px-4 py-2 text-center">Code Discount</th>{% endif %}
                        {% if order.finally_price %}
                            <th class="px-4 py-2 text-center">Finally Price</th>{% endif %}
                        <th class="px-4 py-2 text-center">Time Accepted</th>
                        {% if order.accepted_order %}
                            <th class="px-4 py-2 text-center">Accepted</th>{% endif %}
                        <th class="px-4 py-2 text-center">Time Shipped</th>
                        {% if order.shipped_order %}
                            <th class="px-4 py-2 text-center">Shipped</th>{% endif %}
                        <th class="px-4 py-2 text-center">Time Delivered</th>
                        {% if order.deliver_order %}
                            <th class="px-4 py-2 text-center">Delivered</th>{% endif %}
                        {% if order.time_rejected_order %}
                            <th class="px-4 py-2 text-center">Time Rejected</th>{% endif %}
                        {% if order.rejected_order %}
                            <th class="px-4 py-2 text-center">Rejected</th>{% endif %}
                        {% if order.time_cancelled_order %}
                            <th class="px-4 py-2 text-center">Time Cancelled</th>{% endif %}
                        {% if order.cancelled_order %}
                            <th class="px-4 py-2 text-center">Cancelled</th>{% endif %}
                    </tr>
                    <tbody>
                    <tr class="bg-white text-gray-800">
                        {% if name_product_in_order %}
                            <td class="px-4 py-2 text-center"> {{ name_product_in_order }} </td>
                        {% endif %}
                        {% if order.address %}
                            <td class="px-4 py-2 text-center">{{ order.address }}</td>
                        {% endif %}
                        {% if order.status %}
                            <td class="px-4 py-2 text-center">{{ order.status }}</td>
                        {% endif %}
                        {% if  order.transaction_id %}
                            <td class="px-4 py-2 text-center">{{ order.transaction_id }}</td>
                        {% endif %}
                        {% if order.payment_method %}
                            <td class="px-4 py-2 text-center">{{ order.payment_method }}</td>
                        {% endif %}
                        {% if order.code_discount %}
                            <td class="px-4 py-2 text-center">{{ order.code_discount }}</td>
                        {% endif %}
                        {% if order.finally_price %}
                            <td class="px-4 py-2 text-center">{{ order.finally_price }}</td>
                        {% endif %}
                        {% if order.time_accepted_order %}
                            <td class="px-4 py-2 text-center">{{ order.time_accepted_order }}</td>
                        {% else %}
                            <th class="px-4 py-2 text-center">-</th>
                        {% endif %}
                        {% if order.accepted_order %}
                            <td class="px-4 py-2 text-center">{{ order.accepted_order }}</td>
                        {% endif %}
                        {% if order.time_shipped_order %}
                            <td class="px-4 py-2 text-center">{{ order.time_shipped_order }}</td>
                        {% else %}
                            <th class="px-4 py-2 text-center">-</th>
                        {% endif %}
                        {% if order.shipped_order %}
                            <td class="px-4 py-2 text-center">{{ order.shipped_order }}</td>
                        {% endif %}
                        {% if order.time_deliver_order %}
                            <td class="px-4 py-2 text-center">{{ order.time_deliver_order }}</td>
                        {% else %}
                            <th class="px-4 py-2 text-center">-</th>
                        {% endif %}
                        {% if order.deliver_order %}
                            <td class="px-4 py-2 text-center">{{ order.deliver_order }}</td>
                        {% endif %}
                        {% if order.time_rejected_order %}
                            <td class="px-4 py-2 text-center">{{ order.time_rejected_order }}</td>
                        {% endif %}
                        {% if order.rejected_order %}
                            <td class="px-4 py-2 text-center">{{ order.rejected_order }}</td>
                        {% endif %}
                        {% if order.time_cancelled_order %}
                            <td class="px-4 py-2 text-center">{{ order.time_cancelled_order }}</td>
                        {% endif %}
                        {% if order.cancelled_order %}
                            <td class="px-4 py-2 text-center">{{ order.cancelled_order }}</td>
                        {% endif %}

                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
            </table>
            {% if orders and order.deliver_order == True %}
                {% for order in orders %}
                    <h1 class="text-2xl text-center bg-gray-800 text-gray-100 mt-24 pt-4 p-4 font-bold ">Order
                        Delivered</h1>

                    <table class="table-auto w-full rounded-lg border border-gray-300">
                    <tbody>
                    <tr class="bg-gray-200 font-bold text-red-700">
                        {% if name_product_in_order %}
                            <th class="px-4 py-2 text-center">Order Items</th>{% endif %}
                        {% if order.address %}
                            <th class="px-4 py-2 text-center">Address</th>{% endif %}
                        {% if order.status %}
                            <th class="px-4 py-2 text-center">Status</th>{% endif %}
                        {% if  order.transaction_id %}
                            <th class="px-4 py-2 text-center">Transaction ID</th>{% endif %}
                        {% if order.payment_method %}
                            <th class="px-4 py-2 text-center">Payment Method</th>{% endif %}
                        {% if order.code_discount %}
                            <th class="px-4 py-2 text-center">Code Discount</th>{% endif %}
                        {% if order.finally_price %}
                            <th class="px-4 py-2 text-center">Finally Price</th>{% endif %}
                        <th class="px-4 py-2 text-center">Time Accepted</th>
                        {% if order.accepted_order %}
                            <th class="px-4 py-2 text-center">Accepted</th>{% endif %}
                        <th class="px-4 py-2 text-center">Time Shipped</th>
                        {% if order.shipped_order %}
                            <th class="px-4 py-2 text-center">Shipped</th>{% endif %}
                        <th class="px-4 py-2 text-center">Time Delivered</th>
                        {% if order.deliver_order %}
                            <th class="px-4 py-2 text-center">Delivered</th>{% endif %}
                        {% if order.time_rejected_order %}
                            <th class="px-4 py-2 text-center">Time Rejected</th>{% endif %}
                        {% if order.rejected_order %}
                            <th class="px-4 py-2 text-center">Rejected</th>{% endif %}
                        {% if order.time_cancelled_order %}
                            <th class="px-4 py-2 text-center">Time Cancelled</th>{% endif %}
                        {% if order.cancelled_order %}
                            <th class="px-4 py-2 text-center">Cancelled</th>{% endif %}
                    </tr>
                    <tbody>
                    <tr class="bg-white text-gray-800">
                        {% if name_product_in_order %}
                            <td class="px-4 py-2 text-center"> {{ name_product_in_order }} </td>
                        {% endif %}
                        {% if order.address %}
                            <td class="px-4 py-2 text-center">{{ order.address }}</td>
                        {% endif %}
                        {% if order.status %}
                            <td class="px-4 py-2 text-center">{{ order.status }}</td>
                        {% endif %}
                        {% if  order.transaction_id %}
                            <td class="px-4 py-2 text-center">{{ order.transaction_id }}</td>
                        {% endif %}
                        {% if order.payment_method %}
                            <td class="px-4 py-2 text-center">{{ order.payment_method }}</td>
                        {% endif %}
                        {% if order.code_discount %}
                            <td class="px-4 py-2 text-center">{{ order.code_discount }}</td>
                        {% endif %}
                        {% if order.finally_price %}
                            <td class="px-4 py-2 text-center">{{ order.finally_price }}</td>
                        {% endif %}
                        {% if order.time_accepted_order %}
                            <td class="px-4 py-2 text-center">{{ order.time_accepted_order }}</td>
                        {% else %}
                            <th class="px-4 py-2 text-center">-</th>
                        {% endif %}
                        {% if order.accepted_order %}
                            <td class="px-4 py-2 text-center">{{ order.accepted_order }}</td>
                        {% endif %}
                        {% if order.time_shipped_order %}
                            <td class="px-4 py-2 text-center">{{ order.time_shipped_order }}</td>
                        {% else %}
                            <th class="px-4 py-2 text-center">-</th>
                        {% endif %}
                        {% if order.shipped_order %}
                            <td class="px-4 py-2 text-center">{{ order.shipped_order }}</td>
                        {% endif %}
                        {% if order.time_deliver_order %}
                            <td class="px-4 py-2 text-center">{{ order.time_deliver_order }}</td>
                        {% else %}
                            <th class="px-4 py-2 text-center">-</th>
                        {% endif %}
                        {% if order.deliver_order %}
                            <td class="px-4 py-2 text-center">{{ order.deliver_order }}</td>
                        {% endif %}
                        {% if order.time_rejected_order %}
                            <td class="px-4 py-2 text-center">{{ order.time_rejected_order }}</td>
                        {% endif %}
                        {% if order.rejected_order %}
                            <td class="px-4 py-2 text-center">{{ order.rejected_order }}</td>
                        {% endif %}
                        {% if order.time_cancelled_order %}
                            <td class="px-4 py-2 text-center">{{ order.time_cancelled_order }}</td>
                        {% endif %}
                        {% if order.cancelled_order %}
                            <td class="px-4 py-2 text-center">{{ order.cancelled_order }}</td>
                        {% endif %}

                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
            </table>
            <h1 class="text-2xl text-center bg-gray-800 text-gray-100 mt-24 pt-4 p-4 font-bold ">Addresses</h1>
            <table class="table-auto w-full rounded-lg border border-gray-300">
                <tbody>
                <tr class="bg-gray-200 font-bold text-red-700">
                    <td class="px-4 py-2 text-center">Address Name</td>
                    <td class="px-4 py-2 text-center">Country</td>
                    <td class="px-4 py-2 text-center">City</td>
                    <td class="px-4 py-2 text-center">Street</td>
                    <td class="px-4 py-2 text-center">Building Number</td>
                    <td class="px-4 py-2 text-center">Floor Number</td>
                    <td class="px-4 py-2 text-center">Postal Code</td>
                </tr>
                {% for address in addresses %}
                    <tr class="bg-white text-gray-800">
                        <td class="px-4 py-2 text-center">{{ address.address_name }}</td>
                        <td class="px-4 py-2 text-center">{{ address.country }}</td>
                        <td class="px-4 py-2 text-center">{{ address.city }}</td>
                        <td class="px-4 py-2 text-center">{{ address.street }}</td>
                        <td class="px-4 py-2 text-center">{{ address.building_number }}</td>
                        <td class="px-4 py-2 text-center">{{ address.floor_number }}</td>
                        <td class="px-4 py-2 text-center">{{ address.postal_code }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <h1 class="text-2xl text-center bg-gray-800  text-gray-100 mt-24 pt-4 p-4 font-bold ">Code Discount</h1>
            <table class="table-auto w-full rounded-lg border border-gray-300">
                <tbody>
                <tr class="bg-gray-300 font-bold text-red-700">
                    <td class="px-4 py-2 text-center">Role Name</td>
                    <td class="px-4 py-2 text-center">Code</td>
                    <td class="px-4 py-2 text-center">Percentage Discount</td>
                    <td class="px-4 py-2 text-center">Numerical Discount</td>
                    <td class="px-4 py-2 text-center">Expiration Date</td>
                    <td class="px-4 py-2 text-center">Is Use</td>
                    <td class="px-4 py-2 text-center">Is Expired</td>
                </tr>
                {% for cod_discount in cods_discount %}
                    <tr class="bg-white text-gray-800">
                        <td class="px-4 py-2 text-center">{{ cod_discount.role_name }}</td>
                        <td class="px-4 py-2 text-center">{{ cod_discount.code }}</td>
                        <td class="px-4 py-2 text-center">{{ cod_discount.percentage_discount }}</td>
                        <td class="px-4 py-2 text-center">{{ cod_discount.numerical_discount }}</td>
                        <td class="px-4 py-2 text-center">{{ cod_discount.expiration_date }}</td>
                        <td class="px-4 py-2 text-center">{{ cod_discount.is_use }}</td>
                        <td class="px-4 py-2 text-center">{{ cod_discount.is_expired }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}
