{% extends "base/base.html" %}
{% block title %}
    <title>Address {{ request.user.username }}</title>
{% endblock %}
{% block content %}
    <div class="container mx-auto mb-8 mt-8">
        <div class="overflow-x-auto">
            <h1 class="text-2xl font-bold mt-8 mb-4">Addresses</h1>
            <table class="table-auto w-full mt-2 rounded-lg border border-gray-300">
                <tbody>
                    <tr class="bg-gray-200 text-gray-700">
                        <td class="px-4 py-2 text-center">Address Name</td>
                        <td class="px-4 py-2 text-center">Country</td>
                        <td class="px-4 py-2 text-center">City</td>
                        <td class="px-4 py-2 text-center">Street</td>
                        <td class="px-4 py-2 text-center">Building Number</td>
                        <td class="px-4 py-2 text-center">Floor Number</td>
                        <td class="px-4 py-2 text-center">Postal Code</td>
                    </tr>
                    {% for address in addresses %}
                        <tr class="bg-white text-gray-800">
                            <td class="px-4 py-2 text-center">{{ address.address_name }}</td>
                            <td class="px-4 py-2 text-center">{{ address.country }}</td>
                            <td class="px-4 py-2 text-center">{{ address.city }}</td>
                            <td class="px-4 py-2 text-center">{{ address.street }}</td>
                            <td class="px-4 py-2 text-center">{{ address.building_number }}</td>
                            <td class="px-4 py-2 text-center">{{ address.floor_number }}</td>
                            <td class="px-4 py-2 text-center">{{ address.postal_code }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% block custom_css %}
        <style>
            th {
                border-bottom: 2px solid rgba(118, 118, 118, 0.31);
            }
        </style>
    {% endblock %}
{% endblock %}
