{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    <title>Home</title>
{% endblock %}
{% block content %}

    {% if  request.user.is_authenticated and seller or supervisor or request.user.is_admin or request.user.is_staff or request.user.is_superuser %}

        <nav id="navigation">
            <!-- container -->

            <div class="container">
                <!-- responsive-nav -->

                <div id="responsive-nav">
                    <!-- NAV -->

                    <ul class="main-nav nav navbar-nav">
                        <li class="active"><a href="{% url "home" %}">Home</a></li>
                        <li><a
                                href="http://127.0.0.1:8000/admin-seller-brand-list/"
                                class="block p-1 text-sm text-gray-800 hover:bg-gray-200 hover:rounded-md"
                                onclick="redirectToUpdateBrand()">Detail Brand</a
                        ></li>
                        <li><a
                                href="http://127.0.0.1:8000/admin-seller-product-list/"
                                class="block p-1 text-sm text-gray-800 hover:bg-gray-200 hover:rounded-md"
                                onclick="redirectToDetailBrand()">Detail Product</a
                        ></li>
                        {% if  request.user.is_authenticated and request.user.is_admin or supervisor or request.user.is_staff or request.user.is_superuser %}
                            <li><a
                                    href="http://127.0.0.1:8000/admin-category-list/"
                                    class="block p-1 text-sm text-gray-800 hover:bg-gray-200 hover:rounded-md"
                                    onclick="redirectToDeleteBrand()">Detail Category</a
                            ></li>
                            <li><a
                                    href="http://127.0.0.1:8000/admin-discount-list/"
                                    class="block p-1 text-sm text-gray-800 hover:bg-gray-200 hover:rounded-md"
                                    onclick="redirectToCreateProduct()">Detail Discount</a
                            ></li>
                            <li><a
                                    href="http://127.0.0.1:8000/admin-discount-cod-list/"
                                    class="block p-1 text-sm text-gray-800 hover:bg-gray-200 hover:rounded-md"
                                    onclick="redirectToUpdateProduct()">Detail Discount Cod </a
                            ></li>
                            <li><a
                                    href="http://127.0.0.1:8000/admin-add-to-inventory-list/"
                                    class="block px-4 py-2 text-sm text-gray-800 hover:bg-gray-200 hover:rounded-md"
                                    onclick="redirectToDeleteBrand()">Detail Add To Inventory</a
                            ></li>
                            <li><a
                                    href="http://127.0.0.1:8000/admin-inventory-list/"
                                    class="block px-4 py-2 text-sm text-gray-800 hover:bg-gray-200 hover:rounded-md"
                                    onclick="redirectToDeleteBrand()">Detail Inventory</a
                            ></li>
                            </ul>
                        {% endif %}
                </div>
                <!-- /responsive-nav -->
            </div>
            <!-- /container -->
        </nav>
    {% endif %}
    {% if  request.user.is_authenticated and not  seller and not supervisor and not admin_permissions %}
        <nav id="navigation">
            <!-- container -->

            <div class="container">
                <!-- responsive-nav -->

                <div id="responsive-nav">
                    <!-- NAV -->

                    <ul class="main-nav nav navbar-nav">
                        <!-- Create -->
                        <li class="active"><a href="{% url "home" %}">Home</a></li>
                    </ul>
                </div>
                <!-- /responsive-nav -->
            </div>
            <!-- /container -->
        </nav>
    {% endif %}
    {% if  request.user.is_authenticated and seller or admin_permissions %}

        <nav id="navigation">
            <!-- container -->

            <div class="container">
                <!-- responsive-nav -->

                <div id="responsive-nav">
                    <!-- NAV -->

                    <ul class="main-nav nav navbar-nav">
                        <!-- Create -->

                        <li><a
                                href="http://127.0.0.1:8000/brand-create/"
                                class="block px-4 py-2 text-sm text-gray-800 hover:bg-gray-200 hover:rounded-md"
                                onclick="redirectToUpdateBrand()">Create Brand</a
                        ></li>
                        <li><a
                                href="http://127.0.0.1:8000/product-create/"
                                class="block px-4 py-2 text-sm text-gray-800 hover:bg-gray-200 hover:rounded-md"
                                onclick="redirectToDetailBrand()">Create Product</a
                        ></li>
                        {% if  request.user.is_authenticated and admin_permissions %}
                            <li>

                                <a
                                        href="http://127.0.0.1:8000/category-create/"
                                        class="block p text-sm text-gray-800 hover:bg-gray-200 hover:rounded-md"
                                        onclick="redirectToDeleteBrand()">Create Category</a
                                ></li>
                            <li><a
                                    href="http://127.0.0.1:8000/discount-create/"
                                    class="block p text-sm text-gray-800 hover:bg-gray-200 hover:rounded-md"
                                    onclick="redirectToCreateProduct()">Create Discount</a
                            ></li>
                            <li><a
                                    href="http://127.0.0.1:8000/discount-cod-create/"
                                    class="block p text-sm text-gray-800 hover:bg-gray-200 hover:rounded-md"
                                    onclick="redirectToUpdateProduct()">Create Discount Cod </a
                            ></li>
                            <li><a
                                    href="http://127.0.0.1:8000/add-to-inventory-create/"
                                    class="block p text-sm text-gray-800 hover:bg-gray-200 hover:rounded-md"
                                    onclick="redirectToDeleteBrand()">Create Add To Inventory</a
                            ></li>
                            <li><a
                                    href="http://127.0.0.1:8000/inventory-create/"
                                    class="block p text-sm text-gray-800 hover:bg-gray-200 hover:rounded-md"
                                    onclick="redirectToDeleteBrand()">Create Inventory</a
                            ></li>

                            </ul>{% endif %}
                    <!-- /NAV -->
                </div>
                <!-- /responsive-nav -->
            </div>
            <!-- /container -->
        </nav>{% endif %}

    <!-- /HEADER -->
    {% if form_search.is_valid %}

        <div class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-12">

                        <div class="row">
                            {% for product in products %}
                                {% for media in product.media_products.all %}
                                    <div class="products-tabs">
                                        <!-- tab -->

                                        <div class="products-slick slick-initialized slick-slider"
                                             data-nav="#slick-nav-1">
                                            <div class="slick-list draggable">


                                            </div>

                                            <div class="product slick-slide slick-cloned" style="width: 322px;"
                                                 data-slick-index="6" aria-hidden="true" tabindex="-1">

                                                <div class="product-img">
                                                    {% if media.product_picture.url %}
                                                        <img src="{{ media.product_picture.url }}" alt="">
                                                    {% else %}
                                                        <img src="/img/product02.png" alt="">
                                                    {% endif %}
                                                    <div class="product-label">
                                                        <span class="new">NEW</span>
                                                    </div>
                                                </div>
                                                <div class="product-body">
                                                    <p class="product-category">{{ product.category.name | default:"Category" }}</p>
                                                    <h3 class="product-name">
                                                        <a href="#"
                                                           tabindex="-1">{{ product.name | default:"Product Name Goes Here" }}</a>
                                                    </h3>
                                                    {% for discount in product.product_code_discounts.all %}
                                                        {% if discount.percentage_discount %}
                                                            <h3 class="product-price"> Off
                                                                {{ discount.percentage_discount }}%
                                                                <del class="product-old-price  mt-3">{{ product.price }}</del>
                                                            </h3>
                                                        {% else %}
                                                            <h3 class="product-price"> Off
                                                                ${{ discount.numerical_discount }}
                                                                <del class="product-old-price  mt-3">{{ product.price }}</del>
                                                            </h3>
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% if not product.product_code_discounts.all %}
                                                        <h3 class="product-price mt-3">
                                                            ${{ product.price }}
                                                        </h3>

                                                    {% endif %}
                                                    <div class="product-rating">
                                                        <!-- Display actual product rating if available -->
                                                    </div>
                                                    <div class="product-btns">
                                                        <button class="add-to-wishlist" tabindex="-1"><i
                                                                class="fa fa-heart-o"></i><span
                                                                class="tooltipp">add to wishlist</span>
                                                        </button>
                                                        <button class="add-to-compare" tabindex="-1"><i
                                                                class="fa fa-exchange"></i><span
                                                                class="tooltipp">add to compare</span>
                                                        </button>
                                                        <a href="http://127.0.0.1:8000/product-detail/{{ product.pk }}/"

                                                        <button class="quick-view" tabindex="-1"><i
                                                                class="fa fa-eye"></i><span
                                                                class="tooltipp">  quick view</span>
                                                        </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="slick-nav-1" class="products-slick-nav">
                                        <button class="slick-prev slick-arrow" aria-label="Previous" type="button"
                                                style="display: inline-block;">Previous
                                        </button>
                                        <button class="slick-next slick-arrow" aria-label="Next" type="button"
                                                style="display: inline-block;">Next
                                        </button>
                                    </div> {% endfor %} {% endfor %}
                        </div>

                        <!-- /tab -->

                    </div>
                </div>
            </div>
            <!-- /Products tab & slick -->
        </div>
        <!-- /row -->

    {% endif %}


    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->

            <div class="row">
                <!-- shop -->
                {% for category in categories %}
                    <div class="col-md-4 col-xs-6">
                        <div class="shop">
                            <div class="shop-img">


                                {% if category.category_picture %}
                                    <img src="{{ category.category_picture.url }}" alt="{{ category.name }}">
                                {% else %}
                                    <img src="/img/shop01.png" alt="">
                                {% endif %}
                            </div>
                            <div class="shop-body">
                                <h3>
                                    {% if category.name %}
                                        {{ category.name }} Collection
                                    {% else %}
                                        Laptop Collection
                                    {% endif %}


                                </h3>
                                <a href="http://127.0.0.1:8000/category-detail/{{ category.pk }}/" class="cta-btn">Shop
                                    now <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}


                <!-- /shop -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->

    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <!-- section title -->
                <div class="col-md-12">
                    <div class="section-title">
                        <h3 class="title">New Products</h3>
                        <div class="section-nav">
                            <ul class="section-tab-nav tab-nav">
                                <li class="active"><a data-toggle="tab" href="#tab1">Laptops</a></li>
                                <li><a data-toggle="tab" href="#tab1">Smartphones</a></li>
                                <li><a data-toggle="tab" href="#tab1">Cameras</a></li>
                                <li><a data-toggle="tab" href="#tab1">Accessories</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /section title -->

                <!-- Products tab & slick -->
                <div class="col-md-12">
                    <div class="row">
                        {% for product in products_new %}
                            {% for media in product.media_products.all %}
                                <div class="products-tabs">
                                    <!-- tab -->
                                    <div class="products-slick slick-initialized slick-slider" data-nav="#slick-nav-1">
                                        <div class="slick-list draggable">
                                        </div>
                                        <div class="product slick-slide slick-cloned" style="width: 322px;"
                                             data-slick-index="6" aria-hidden="true" tabindex="-1">

                                            <div class="product-img">
                                                {% if media.product_picture.url %}
                                                    <img src="{{ media.product_picture.url }}" alt="">
                                                {% else %}
                                                    <img src="/img/product02.png" alt="">
                                                {% endif %}
                                                <div class="product-label">
                                                    <span class="new">NEW</span>
                                                </div>
                                            </div>
                                            <div class="product-body">
                                                <p class="product-category">{{ product.category.name | default:"Category" }}</p>
                                                <h3 class="product-name">
                                                    <a href="#"
                                                       tabindex="-1">{{ product.name | default:"Product Name Goes Here" }}</a>
                                                </h3>

                                                {% for discount in product.product_code_discounts.all %}

                                                    {% if discount.percentage_discount %}
                                                        <h3 class="product-price"> Off
                                                            {{ discount.percentage_discount }}%
                                                            <del class="product-old-price  mt-3">{{ product.price }}</del>
                                                        </h3>
                                                    {% else %}
                                                        <h3 class="product-price"> Off
                                                            ${{ discount.numerical_discount }}
                                                            <del class="product-old-price  mt-3">{{ product.price }}</del>
                                                        </h3>
                                                    {% endif %}
                                                    {#                                                        {% elif discount.numerical_discount and not  discount.percentage_discount %}#}
                                                    {#                                                            <h3 class="product-price">#}
                                                    {#                                                                Off {{ discount.percentage_discount }}%#}
                                                    {#                                                                <del class="product-old-price  mt-3">{{ product.price }}</del>#}
                                                    {#                                                            </h3>#}
                                                    {#                                                        {% elif  discount.numerical_discount and  not discount.percentage_discount %}#}
                                                    {#                                                            <h3 class="product-price"> Off#}
                                                    {#                                                                ${{ discount.numerical_discount }}#}
                                                    {#                                                                <del class="product-old-price  mt-3">{{ product.price }}</del>#}
                                                    {#                                                            </h3>#}
                                                    {#                                                        {% endif %}#}
                                                {% endfor %}
                                                {% if not product.product_code_discounts.all %}
                                                    <h3 class="product-price mt-3">
                                                        ${{ product.price }}
                                                    </h3>

                                                {% endif %}
                                                <div class="product-rating">
                                                    <!-- Display actual product rating if available -->
                                                </div>
                                                <div class="product-btns">
                                                    <button class="add-to-wishlist" tabindex="-1"><i
                                                            class="fa fa-heart-o"></i><span
                                                            class="tooltipp">add to wishlist</span>
                                                    </button>
                                                    <button class="add-to-compare" tabindex="-1"><i
                                                            class="fa fa-exchange"></i><span
                                                            class="tooltipp">add to compare</span>
                                                    </button>
                                                    <a href="http://127.0.0.1:8000/product-detail/{{ product.pk }}/"

                                                    <button class="quick-view" tabindex="-1"><i
                                                            class="fa fa-eye"></i><span
                                                            class="tooltipp">  quick view</span>
                                                    </button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="slick-nav-1" class="products-slick-nav">
                                    <button class="slick-prev slick-arrow" aria-label="Previous" type="button"
                                            style="display: inline-block;">Previous
                                    </button>
                                    <button class="slick-next slick-arrow" aria-label="Next" type="button"
                                            style="display: inline-block;">Next
                                    </button>
                                </div>{% endfor %} {% endfor %}
                    </div>

                    <!-- /tab -->
                </div>


            </div>
        </div>
        <!-- Products tab & slick -->
    </div>
    <!-- /row -->

    <!-- HOT DEAL SECTION -->
    <div id="hot-deal" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="hot-deal">
                        <ul class="hot-deal-countdown">
                            <li>
                                <div>
                                    <h3>02</h3>
                                    <span>Days</span>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <h3>10</h3>
                                    <span>Hours</span>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <h3>34</h3>
                                    <span>Mins</span>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <h3>60</h3>
                                    <span>Secs</span>
                                </div>
                            </li>
                        </ul>
                        <h2 class="text-uppercase">hot deal this week</h2>
                        <p>New Collection Up to 50% OFF</p>
                        <a class="primary-btn cta-btn" href="#">Shop now</a>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /HOT DEAL SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <!-- section title -->
                <div class="col-md-12">
                    <div class="section-title">
                        <h3 class="title">Top selling</h3>
                        <div class="section-nav">
                            <ul class="section-tab-nav tab-nav">
                                <li class="active"><a data-toggle="tab" href="#tab2">Laptops</a></li>
                                <li><a data-toggle="tab" href="#tab2">Smartphones</a></li>
                                <li><a data-toggle="tab" href="#tab2">Cameras</a></li>
                                <li><a data-toggle="tab" href="#tab2">Accessories</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /section title -->

                <!-- Products tab & slick -->

                <div class="col-md-12">

                    <div class="row">
                        {% for product in products %}
                            {% for media in product.media_products.all %}
                                <div class="products-tabs">
                                    <!-- tab -->

                                    <div class="products-slick slick-initialized slick-slider" data-nav="#slick-nav-1">
                                        <div class="slick-list draggable">


                                        </div>

                                        <div class="product slick-slide slick-cloned" style="width: 322px;"
                                             data-slick-index="6" aria-hidden="true" tabindex="-1">

                                            <div class="product-img">
                                                {% if media.product_picture.url %}
                                                    <img src="{{ media.product_picture.url }}" alt="">
                                                {% else %}
                                                    <img src="/img/product02.png" alt="">
                                                {% endif %}
                                                <div class="product-label">
                                                    <span class="new">NEW</span>
                                                </div>
                                            </div>
                                            <div class="product-body">
                                                <p class="product-category">{{ product.category.name | default:"Category" }}</p>
                                                <h3 class="product-name">
                                                    <a href="#"
                                                       tabindex="-1">{{ product.name | default:"Product Name Goes Here" }}</a>
                                                </h3>
                                                {% for discount in product.product_code_discounts.all %}
                                                    {% if discount.percentage_discount %}
                                                        <h3 class="product-price"> Off
                                                            {{ discount.percentage_discount }}%
                                                            <del class="product-old-price  mt-3">{{ product.price }}</del>
                                                        </h3>
                                                    {% else %}
                                                        <h3 class="product-price"> Off
                                                            ${{ discount.numerical_discount }}
                                                            <del class="product-old-price  mt-3">{{ product.price }}</del>
                                                        </h3>
                                                    {% endif %}
                                                {% endfor %}
                                                {% if not product.product_code_discounts.all %}
                                                    <h3 class="product-price mt-3">
                                                        ${{ product.price }}
                                                    </h3>

                                                {% endif %}
                                                <div class="product-rating">
                                                    <!-- Display actual product rating if available -->
                                                </div>
                                                <div class="product-btns">
                                                    <button class="add-to-wishlist" tabindex="-1"><i
                                                            class="fa fa-heart-o"></i><span
                                                            class="tooltipp">add to wishlist</span>
                                                    </button>
                                                    <button class="add-to-compare" tabindex="-1"><i
                                                            class="fa fa-exchange"></i><span
                                                            class="tooltipp">add to compare</span>
                                                    </button>
                                                    <a href="http://127.0.0.1:8000/product-detail/{{ product.pk }}/">
                                                        <button class="quick-view" tabindex="-1"><i
                                                                class="fa fa-eye"></i><span
                                                                class="tooltipp">  quick view</span>
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="slick-nav-1" class="products-slick-nav">
                                    <button class="slick-prev slick-arrow" aria-label="Previous" type="button"
                                            style="display: inline-block;">Previous
                                    </button>
                                    <button class="slick-next slick-arrow" aria-label="Next" type="button"
                                            style="display: inline-block;">Next
                                    </button>
                                </div> {% endfor %} {% endfor %}
                    </div>

                    <!-- /tab -->

                </div>
            </div>
        </div>
        <!-- /Products tab & slick -->
    </div>
    <!-- /row -->

    <div id="newsletter" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="newsletter">
                        <p>Sign Up for the <strong>NEWSLETTER</strong></p>
                        <form>
                            <input class="input" type="email" placeholder="Enter Your Email">
                            <button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
                        </form>
                        <ul class="newsletter-follow">
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
{% endblock %}