{% extends "base/base.html" %}
{% block title %}
    <title>Discount</title>
{% endblock %}
{% block content %}
    <div class="container mx-auto mb-8 mt-8">
        <div class="overflow-x-auto">
            <h1 class="text-2xl text-center bg-gray-800  text-gray-100 mt-8 pt-4 p-4 font-bold">Discount</h1>
            <table class="table-auto w-full rounded-lg border border-gray-300">
                <tbody>
                <tr class="bg-gray-200 font-bold text-red-700">
                    <td class="px-4 py-2 text-center">Product</td>
                    <td class="px-4 py-2 text-center">Category</td>
                    <td class="px-4 py-2 text-center">Percentage Discount</td>
                    <td class="px-4 py-2 text-center">Numerical Discount</td>
                    <td class="px-4 py-2 text-center">Expiration Date</td>
                    <td class="px-4 py-2 text-center">Is Use</td>
                    <td class="px-4 py-2 text-center">Is Expired</td>
                    <td class="px-4 py-2 text-center">Edit</td>
                    <td class="px-4 py-2 text-center">Delete</td>
                </tr>
                {% if admin_discounts %}

                    {% for discount in admin_discounts %}
                        <tr class="bg-white text-gray-800">
                            <td class="px-4 py-2 text-center">{{ discount.product }}</td>
                            <td class="px-4 py-2 text-center">{{ discount.category }}</td>
                            <td class="px-4 py-2 text-center">{{ discount.percentage_discount }}</td>
                            <td class="px-4 py-2 text-center">{{ discount.numerical_discount }}</td>
                            <td class="px-4 py-2 text-center">{{ discount.expiration_date }}</td>
                            <td class="px-4 py-2 text-center">{{ discount.is_use }}</td>
                            <td class="px-4 py-2 text-center">{{ discount.is_expired }}</td>


                            <td class="px-2 py-2 text-center">
                                <a href="{% url "discount_update" pk=discount.id %}">
                                    <button
                                            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                        Edit
                                    </button>
                                </a>
                            </td>
                            <td class="p-1 text-center">
                                <a href="{% url "discount_delete" pk=discount.id %}">
                                    <button
                                            class="bg-red-500 hover:bg-red-700 text-white font-bold p-2 rounded">
                                        Delete
                                    </button>
                                </a>
                            </td>

                        </tr>

                    {% endfor %}
                {% else %}
                    {% for discount in supervisor_discounts %}
                        <tr class="bg-white text-gray-800">
                            <td class="px-4 py-2 text-center">{{ discount.product }}</td>
                            <td class="px-4 py-2 text-center">{{ discount.category }}</td>
                            <td class="px-4 py-2 text-center">{{ discount.percentage_discount }}</td>
                            <td class="px-4 py-2 text-center">{{ discount.numerical_discount }}</td>
                            <td class="px-4 py-2 text-center">{{ discount.expiration_date }}</td>
                            <td class="px-4 py-2 text-center">{{ discount.is_use }}</td>
                            <td class="px-4 py-2 text-center">{{ discount.is_expired }}</td>


                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    {% block custom_css %}
        <style>
            th {
                border-bottom: 2px solid rgba(118, 118, 118, 0.31);
            }
        </style>
    {% endblock %}
{% endblock %}
